<!-- frontend\src\app\pages\furniture-details\furniture-details.component.ts -->

<main class="p-4">
  <!-- Chargement -->
  <div *ngIf="loading" class="text-center">
    <p>Chargement des détails...</p>
  </div>

  <!-- Détails du meuble -->
  <section *ngIf="furniture && !loading" class="details-section">
    <div class="details-section-wrapper">
      <h1 class="details-section-header">{{ furniture.name }}</h1>

      <!-- Galerie d'images -->
      <div class="gallery">
        <p-galleria
          [value]="images"
          [responsiveOptions]="responsiveOptions"
          [containerStyle]="{ 'max-width': '300px' }"
          [numVisible]="3"
        >
          <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" style="width: 100%" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <img [src]="item.thumbnailImageSrc" />
          </ng-template>
        </p-galleria>
      </div>

      <!-- Informations principales -->
      <div class="furniture-details-wrapper">
        <div>
          <h2 class="description-title">Description</h2>
          <p class="description-text">{{ furniture.description }}</p>

          <div class="mt-4 text-black">
            <p class="price-title">
              Prix:
              <span class="price-text">{{ furniture.price }}€</span>
            </p>
            <p>
              Disponibilité:
              <span class="status">{{ furniture.status }}</span>
            </p>
            <p>
              Quantité en stock:
              <span class="quantity">{{ furniture.quantity }}</span>
            </p>
          </div>
        </div>

        <div>
          <h2 class="fields-title">Caractéristiques</h2>
          <ul class="space-y-2 text-black">
            <li>Type: {{ furniture.type }}</li>
            <li>Dimensions: {{ furniture.size }}</li>
            <li>Couleur: {{ furniture.colour }}</li>
            <li>Matériaux: {{ furniture.materials.join(", ") }}</li>
          </ul>
        </div>
      </div>

      <!-- Bouton d'achat -->
      <!-- <div class="mt-8 text-center text-black">
        <button
          class="bg-emerald-950 text-white px-8 py-3 rounded-lg hover:bg-emerald-900 transition"
        >
          Ajouter au panier
        </button>
      </div> -->
    </div>
  </section>

  <!-- Message d'erreur -->
  <!-- <p *ngIf="error" class="text-center text-red-500 mt-6">
    Une erreur est survenue lors du chargement des détails.
  </p> -->
</main>
