// frontend\src\app\pages\furniture-details\furniture-details.component.scss

@charset "utf-8";
@use "tailwindcss" as *;

@utility details-section {
    @apply max-w-4xl mx-auto;
}

@utility details-section-wrapper {
    @apply bg-orange-50 rounded-lg shadow-lg p-6;
}

@utility details-section-header {
    @apply text-2xl font-bold mb-4 text-black;
}

@utility gallery {
    @apply flex justify-center;
}

@utility furniture-image {
    @apply w-full object-cover rounded-lg shadow-md;
}

@utility furniture-details-wrapper {
    @apply grid md:grid-cols-2 gap-6 mt-10;
}

@utility description-title {
    @apply text-xl font-semibold mb-2 text-black;
}

@utility description-text {
    @apply text-gray-700 text-black;
}

@utility price-title {
    @apply font-semibold text-black;
}

@utility price-text {
    @apply text-emerald-600 text-black;
}

@utility status {
    @apply font-medium text-black;
}

@utility quantity {
    @apply font-medium text-black;
}

@utility fields-title {
    @apply text-xl font-semibold mb-2 text-black;
}
.custom-galleria-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* hauteur fixe du conteneur */
  }
  
  .custom-galleria-image {
    max-width: 600px; /* largeur maximale spécifique que vous souhaitez */
    max-height: 350px; /* hauteur maximale de l'image */
    width: auto; /* permet à l'image de conserver ses proportions */
    height: auto; /* permet à l'image de conserver ses proportions */
    object-fit: contain;
  }
p-galleria {
    --p-galleria-thumbnails-content-background: #022c22;
  }

